<h1 mat-dialog-title>{{CredentialType}} Credential {{addORedit}}</h1>
<div mat-dialog-content>
    <form [formGroup] = "credential_form">
        <mat-form-field appearance="fill" style=" width: 100%;">
            <mat-label>User ID</mat-label>
            <input formControlName="user_name" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" style=" width: 100%;">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" style=" width: 100%;">
            <mat-label>Registered Mobile No</mat-label>
            <input formControlName="reg_mobile" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" style=" width: 100%;">
            <mat-label>Registered Email ID</mat-label>
            <input formControlName="reg_email" matInput>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-action align="end">
    <button mat-raised-button color="warn" (click) = "AddProduct()" cdkFocusInitial>{{addORedit}}</button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</div>

