<h1 mat-dialog-title>Add Credential</h1>
<div mat-dialog-content>
    <form [formGroup] = "credential_form">
        <mat-form-field *ngIf="this.which_side==1" appearance="outline" style=" width: 100%;">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Provide Email " [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.split('//')[1]">
                      {{option.split("//")[0]}}
                    </mat-option>
                  </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="fill" style=" width: 100%;">
            <mat-label>Login Portal</mat-label>
            <mat-select formControlName="credential_type" placeholder="Login Portal">
                <mat-option value="GST">GST</mat-option>
                <mat-option value="ITR">Income Tax Returns</mat-option>
                <mat-option value="others">Others</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style=" width: 100%;">
            <mat-label>User ID</mat-label>
            <input formControlName="user_id" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" style=" width: 100%;">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" style=" width: 100%;">
            <mat-label>PAN/GST/other</mat-label>
            <input formControlName="PAN_GSTN" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" style=" width: 100%;">
            <mat-label>Registered Mobile No</mat-label>
            <input formControlName="reg_mobile" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" style=" width: 100%;">
            <mat-label>Registered Email ID</mat-label>
            <input formControlName="reg_email" matInput>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-action align="center">
    <button mat-raised-button color="warn" (click) = "AddProduct()" cdkFocusInitial>Add</button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</div>

