<div class="full-page">
    <table style="   width: 1000px; text-align: center;">
        <tr>
            <td><img class = "image-responsive" src="../../../../assets/Images/alinalogo.png" alt="Alina Logo"></td>
       </tr> 
    <!-- <img class = "image-responsive" src="../../../../assets/Images/alinalogo.png" alt="Alina Logo"> -->
    <tr ><td >
    <mat-card  id="myelement" class="login-card" class="mat-elevation-z0">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup] = "login_form">
                <mat-form-field appearance="outline">
                    <mat-label>Email ID</mat-label>
                    <input formControlName="email" matInput placeholder="kamala@gmail.com">
                    <mat-icon matSuffix>mail</mat-icon>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-fab extended color="primary" (click)="CheckUser()">
                Login
            <mat-icon>login</mat-icon>
            </button>
        </mat-card-actions>
        <span style="text-align: end; margin-right: 2%; margin-top: 2%;"> New user?  <a [routerLink]="['/signup']"> Sign Up here </a></span>
        <span style="text-align: end; margin-right: 2%; margin-top: 1%;"> Forgot Password?  <a [routerLink]="['/forgot_password']"> Click here </a></span>
    </mat-card>
</td></tr>
           
</table>

</div>

