<div *ngIf="current_break_point==0" align="center">
    <table mat-table [dataSource]="dataSource" matSort>
        
        <ng-container matColumnDef="files_uploaded">
            <th mat-header-cell *matHeaderCellDef> Files Uploaded </th>
            <td mat-cell *matCellDef="let row"> {{row.files_uploaded}} </td>
        </ng-container>

        <ng-container *ngIf="current_break_point==0" matColumnDef="preview">
            <th mat-header-cell *matHeaderCellDef> Preview </th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-button color="primary" *ngIf="IsPDF(row.files_uploaded)" (click)="OpenPDFviewer(filesdata.fy,filesdata.email,row.files_uploaded)">
                    <mat-icon>file_copy</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container *ngIf="current_break_point==0" matColumnDef="download">
            <th mat-header-cell *matHeaderCellDef> Download </th>
            <td mat-cell *matCellDef="let row">
                <button mat-button color="warn" (click)="downloadFile(filesdata.fy,filesdata.email,row.files_uploaded)">
                    <mat-icon>file_download </mat-icon>
                </button>
            </td>
        </ng-container>
        <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</div>

<div *ngIf="current_break_point==1" align="center">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="files_uploaded">
            <th mat-header-cell *matHeaderCellDef> Files Uploaded </th>
            <td mat-cell *matCellDef="let row"> {{row.files_uploaded.slice(14,26)}} </td>
        </ng-container>
        <ng-container   matColumnDef="download">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
                <button mat-button color="primary" *ngIf="IsPDF(row.files_uploaded)" (click)="OpenPDFviewer(filesdata.fy,filesdata.email,row.files_uploaded)">
                    <mat-icon>file_copy</mat-icon>
                </button>
                <!-- <button mat-button color="warn">
                   <a href="{{backend_route}}/docs_upload/mobile/images/{{filesdata._id}}/key/{{row.files_uploaded}}"> <mat-icon>file_download </mat-icon> </a>
                </button> -->
                <button mat-button color="warn" (click)="downloadFile(filesdata.fy,filesdata.email,row.files_uploaded)">
                    <mat-icon>file_download </mat-icon>
                </button>
            </td>
        </ng-container>

        <tr  mat-header-row *matHeaderRowDef="displayedColumns_mobile"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns_mobile;"></tr>

    </table>

</div>



