<div class = "tab-container">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="File Name" #input>
  </mat-form-field>
  <div class="mat-elevation-z8">
      <table *ngIf="current_break_point==0" mat-table [dataSource]="dataSource" matSort>
    
        <!-- Progress Column -->
        <ng-container *ngIf="this.get_details_option == 'client'" matColumnDef="credential_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Purpose </th>
          <td mat-cell *matCellDef="let row"> {{row.credential_type}} </td>
        </ng-container>

        <ng-container *ngIf="this.get_details_option != 'client'" matColumnDef="user_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
          <td mat-cell *matCellDef="let row"> {{row.user_name}} </td>
        </ng-container>

        <ng-container matColumnDef="user_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>user_id </th>
          <td mat-cell *matCellDef="let row"> {{row.user_id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="password">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header> password</th>
          <td  mat-cell *matCellDef="let row"> {{row.password}} </td>
        </ng-container>

        <ng-container matColumnDef="PAN_GSTIN">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header> PAN/GSTIN</th>
          <td  mat-cell *matCellDef="let row"> {{row.PAN_GSTIN}} </td>
        </ng-container>

        <ng-container matColumnDef="registered_mobile">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
          <td  mat-cell *matCellDef="let row"> {{row.registered_mobile}} </td>
        </ng-container>

        <ng-container matColumnDef="registered_email">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let row"> {{row.registered_email}} </td>
        </ng-container>
      
        <ng-container  matColumnDef="Action">
            <th  mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td  mat-cell *matCellDef="let row"> 
              <button  mat-button color="warn" (click)="openDialogDelete(row)"><mat-icon>delete</mat-icon></button> 
            </td>     
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator style="margin-bottom: 2%;" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
         
    <!-- <mat-tab-group>

      <ng-container *ngFor="let type of credential_type; let t = index">
        <mat-tab label="{{type}} Filing">
            <mat-card class="card-inside-tab">
                <mat-card-header>
               
                  <mat-card-title>{{type}} Filing Credentials</mat-card-title>
                  <mat-card-subtitle>Please keep this up to date</mat-card-subtitle>
                  <div class="top-right-align">
                    <button mat-raised-button color="primary" (click)="openDialogAdd(type)">Add</button>
                  </div>
                </mat-card-header>
                
                <ng-container *ngFor="let data of dataSource[t]; let i = index">
                <mat-card-content>
                    <table mat-table [dataSource]="data" class="mat-elevation-z8">

                     
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="colon">
                          <th mat-header-cell *matHeaderCellDef> Colon </th>
                          <td mat-cell *matCellDef="let element"> {{element.colon}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="value">
                          <th mat-header-cell *matHeaderCellDef> Value </th>
                          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                        </ng-container>
                      
                     
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                </mat-card-content>

                <mat-card-actions align="start">
                  <button mat-raised-button color="primary" class="bottom-left" (click)="openDialogEdit(t,i)">Edit</button>
                  <button mat-raised-button color="warn" class="bottom-left" (click)="openDialogDelete(t,i)">Delete</button>
                </mat-card-actions>
                </ng-container>

            </mat-card>
        </mat-tab>
      </ng-container>

    </mat-tab-group> -->
</div>
