.full-page {
  
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.image-responsive{
    width: 30%;
    padding: 2%;
}

.login-card {
    margin-top: 0;
    width: 50%;
}

mat-form-field {
    width: 100%;
    margin-top: 10px;
}