<div *ngIf="current_break_point == 0" style="margin-top:4% ; text-align: center !important;">
    <button mat-raised-button color="warn" style="text-align: center !important;"  (click)="openDialog()">Add Login & Password </button>
</div>

<div *ngIf="current_break_point == 0" class = "container" style="margin-top: 2vh; margin-left: 6%; margin-right:6%; margin-bottom: 1%;">
    <app-credentials [childToMaster]="this.option"></app-credentials>
</div>

<div *ngIf="current_break_point == 1" style="text-align: center;" >
    <button  mat-raised-button color="warn" style="width: 95%; margin:2%; text-align: center !important;"  (click)="openDialog()">Add Login & Password </button>
</div>

<div *ngIf="current_break_point == 1"  style="margin-top: 2vh; margin: 2%;">
    <app-credentials [childToMaster]="this.option"></app-credentials>
</div>