.full-page {
  
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.image-responsive{
    padding: 2%;
    width: 15%;
}

.login-card {
    margin-top: 0;
    margin-right: 2%;
    border-radius: 50px !important;
}

mat-form-field {
    width: 100%;
    margin-top: 10px;
}

.file-input {
    display: none;
  }