<!-- <div>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="example-spacer" style="text-align: right;">
      <span > </span>
    </div>
    </mat-toolbar>
  </div> -->

  <div class="full-page">
    <table style="   width: 1000px; text-align: center;">
        <tr>
            <td><img class = "image-responsive" src="../../../../assets/Images/alinalogo.png" alt="Alina Logo"></td>
       </tr> 
        <tr ><td >
            <mat-card   class="login-card" class="mat-elevation-z0">
                <mat-card-header>
                    <mat-card-title style="font-size:100%">Sign-up</mat-card-title>
                </mat-card-header>
                <mat-stepper  orientation="vertical"  [linear]="true" #stepper>
                    <mat-step [stepControl]="email_form">
                    
                        <ng-template matStepLabel>Step 1</ng-template>
                        <ng-template matStepContent>
                            <form [formGroup] = "email_form">
                            <h2 style="font-size:100%"> Registered Email</h2>
                            <mat-form-field style="height: 7vh; margin: 0% !important;" appearance="outline">
                                <mat-label>Email ID</mat-label>
                                <input  formControlName="email" matInput placeholder="kamala@gmail.com">
                                <mat-icon matSuffix>mail</mat-icon>
                            </mat-form-field>
                            <button mat-button (click)="Otp_generation('OTP GENERATED')">Next</button>
                            </form>
                        </ng-template>
                    
                    </mat-step>
                    <mat-step [stepControl]="otp_form">
                        <ng-template matStepLabel>Step 3</ng-template>
                        <ng-template matStepContent>
                            <form [formGroup] = "otp_form">
                                <h2> Enter OTP</h2>
                                <p>Enter Otp from the mail</p>
                                <mat-form-field appearance="outline">
                                <input matInput formControlName="otp_mail" [type]="hide ? 'password' : 'text'">
                                <!-- <ng-otp-input   [formCtrl]="otp_mail" [config]="{length:5}"></ng-otp-input> -->
                            </mat-form-field>
                                <br>
                                <!-- <p>Enter Otp from the Phone</p>
                                <ng-otp-input   formControlName="otp_phone" [config]="{length:5}"></ng-otp-input> -->
                            </form>
                                <br>
                            <button mat-button (click)="Otp_generation('New OTP GENERATED')">Resend</button>
                            <button mat-button (click)="Otp_verification()">Next</button>
                        </ng-template>
                    </mat-step>

                    <mat-step  [stepControl]="signup_form">
                        <ng-template  matStepLabel>Step 2</ng-template>
                        <ng-template  matStepContent>
                        <form  [formGroup] = "signup_form">
                            <h2>Fill out the Details</h2>
                            
                            <mat-form-field  appearance="outline">
                                <mat-label>New Password</mat-label>
                                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <mat-form-field  appearance="outline">
                                <mat-label >Retype-Password</mat-label>
                                <input  matInput formControlName="retype_password" [type]="hide1 ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <span *ngIf="!pass"> <p style="color: red;"> please type correct password </p>   </span> 
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="Change_password()" >Next</button>
                    </form> 
                      
                    </ng-template>
                    
                    </mat-step>
                    
                    <mat-step>
                        <ng-template matStepLabel>Step 4</ng-template>
                        <ng-template matStepContent>
                        <h1> Password Has been Changed</h1>
                        <p> Go to Login Page</p>
                        <button mat-fab extended color="primary" (click)="moveout()">
                            Login
                        <mat-icon>login</mat-icon>
                        </button>
                    </ng-template>
                    </mat-step>
                </mat-stepper>
                
            </mat-card>
        </td></tr>
           
    </table>
    
</div>     


<!-- 
<div class="full-page">
<mat-tab-group>
    <mat-tab label="Step 1">
        <mat-card class="login-card">
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header> 
            <mat-card-content>
                <form [formGroup] = "signup_form">
                    <mat-form-field appearance="outline">
                        <mat-label>Email ID</mat-label>
                        <input formControlName="email" matInput placeholder="kamala@gmail.com">
                        <mat-icon matSuffix>mail</mat-icon>
                       
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-fab extended color="primary" (click)="AddUser()">
                    Sign-up
                </button>
            </mat-card-actions>
            
        </mat-card>
    </mat-tab>
      
</mat-tab-group>
</div>
 -->
