<div style="margin: 2% ;">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Income Tax Return (ITR-1)</mat-card-title>
      <mat-card-subtitle>Salaried Persons</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            <strong>1.Files required to file ITR-1 for FY 2022-23?</strong>
            <ol>
                <li>Register in  <a href="https://eportal.incometax.gov.in/iec/foservices/#/login"> Income Tax Login</a></li>
                <li> Add the userid and Password in the app</li>
                <li>Form-16 issued by your employer  </li>
                <li>Month wise salary slips</li>
                <li> The investment made under PPF, NSC, ULIPS, ELSS, LIC qualify for deductions under Section 80C. Make sure you have the slips, receipts of all the investment made for tax saving purpose.</li>
                <li>Your children’s school tuition fees</li>
                <li>Life insurance premium payment</li>
                <li>Stamp-duty and registration charges of Assets (ex: Land)</li>
                <li>Principal and interest repayment on your home loan</li>
                <li>Equity Linked Savings Scheme/Mutual funds investment</li>
                <li><strong>Upload this files in the app for faster filing of ITR returns</strong></li>
            </ol>
        <p>
            <strong>2.Who is eligible to file ITR-1 for FY 2022-23?</strong>
            <ol>
                <li> Total income does not exceed ₹ 50 lakh during the FY </li>
                <li> Income is from salary, one house property, family pension income, agricultural income (up to ₹5000/-), and other sources, which include: </li>
                <ul>
                <li> Interest from Savings Accounts, Interest from Deposits (Bank / Post Office / Cooperative Society), 
                    Interest from Income Tax Refund, 
                    Interest received on Enhanced Compensation, 
                    Any other Interest Income, 
                    Family Pension, 
                    Income of Spouse  or Minor is clubbed  </li>
                </ul>
            </ol>    
        <!-- <p>This card indeterminates progress bar.</p>
      <p>{{longText}}</p> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>THANK YOU</button>
    </mat-card-actions>
  </mat-card>
</div>

