
<h1 style="margin-top: 5%;margin-left: 5%;">What would you like to do today ?</h1>
<h2 style="margin-left: 5%;">Dashboard Make a right side nav for Checklist or todo</h2>
<div style="text-align: center;">
    <table>
        <tr>
    <td>
    <div style="margin-top:2% ;">
        <i class="fa-sharp fa-solid fa-file-circle-plus fa-6x" style="margin-top: 2%;color:indigo;"></i><br>
        <button mat-raised-button color="primary" style="margin-top: 6%;">Add Client</button>
    </div>
</td>
<!-- <td>
    <div style="margin-top:2% ;">   
        <i class="fa-sharp fa-solid fa-trademark fa-7x" style="margin-top: 6%;color:indigo;"></i><br>   
        <button mat-raised-button color="primary" style="margin-top: 6%;">Add Trade name</button>
    </div>
</td> -->
<!-- <td>    
    <div style="margin-top:2% ;">
            <span class="example-spacer" style="margin-left: 45%; "></span>
            <button mat-raised-button color="primary">Raise invoice</button> 
    </div>
</td> -->
</tr>
    </table>
</div>
<div style="margin: 5%;">
    <h1 >Messages For you :</h1>
    <table class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="message">
    </ng-container>
  
    </table>
  
  
</div>