<div>
  <mat-toolbar color="primary">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>Hi! {{email}}</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="warn" (click)="openDialog()">Add Product</button>
  </mat-toolbar>
</div>


<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav  color="primary" #drawer class="sidenav" >
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list>
    <a mat-list-item routerLinkActive #routerLinkActiveInstance="routerLinkActive" [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : 1"
      routerLink="/home/file_uploaded" >Uploaded List</a>
    <a mat-list-item routerLinkActive #routerLinkActiveInstance="routerLinkActive" [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1" 
      routerLink="/home/uploaded_returns" class="mat-list-item-focus">Uploaded Returns</a>
    <a mat-list-item routerLinkActive #routerLinkActiveInstance="routerLinkActive" [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1" 
      routerLink="/home/history">Upload History</a>
    <a mat-list-item routerLinkActive #routerLinkActiveInstance="routerLinkActive" [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1" 
      routerLink="/home/credentials">Credentials</a>
    <a mat-list-item routerLinkActive #routerLinkActiveInstance="routerLinkActive" [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
    routerLink="/login">Logout</a>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>    
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>


      