<div style="display: block; position:sticky; position: sticky; top: 0;  z-index: 1000;">
  <mat-toolbar  color="primary">
    <mat-toolbar-row>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <img *ngIf="current_break_point==0" style="position:fixed; margin-left: 45%; text-align: center;"  class = "image-responsive" src="../../../../assets/Images/alinalogo_white.png" alt="Alina Logo">    
    <div *ngIf="current_break_point==0" class="example-spacer" style="text-align: end;">
        <span>  
          Hi {{Name}}
        </span>
    </div>
   
    <img *ngIf="current_break_point==1" style="position:fixed; margin-left: 16.5vh; text-align: center;"  class = "image-responsive1" src="../../../../assets/Images/alinalogo_white.png" alt="Alina Logo">
    <div *ngIf="current_break_point==1" class="example-spacer" style="text-align: end;">
      <span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item >
            <mat-icon>person</mat-icon>
            <span> {{email}} </span>
          </button>
          <button (click)="logout()" mat-menu-item >
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      
      </span>
    </div>
  </mat-toolbar-row>
  </mat-toolbar>
</div>

<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav  color="primary" #drawer class="sidenav" >
    <mat-toolbar ><mat-icon>dashboard</mat-icon> Menu</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
    <a mat-list-item routerLink="/home/file_uploaded" (click)="drawer.toggle()"><mat-icon color="primary">cloud_upload</mat-icon><span style="vertical-align : middle;"> Uploaded List </span></a>
    <a  mat-list-item routerLinkActive #routerLinkActiveInstance="routerLinkActive" [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1" 
      routerLink="/home/credentials" (click)="drawer.toggle()"><mat-icon color="primary">account_box</mat-icon>Credentials</a>
    <a  mat-list-item 
      routerLink="/home/info" (click)="drawer.toggle()"><mat-icon color="primary">account_box</mat-icon>Files Required</a>
      <a routerLink="/home/contact" (click)="drawer.toggle()" mat-list-item ><mat-icon color="primary">account_box</mat-icon>Contact</a>

    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive #routerLinkActiveInstance="routerLinkActive" [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
     (click)="logout()"><mat-icon>login</mat-icon>Logout</a>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>    
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

